/*
FONDO DE PANTALLA QUE CAMBIA COMO PRESENTACION                                                                 
*/

/* HEADER */

/*.headerimg {background-size: cover; height: 338%; width: 100%; background-repeat: no-repeat;  position:absolute; background-attachment: fixed;}*/

.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	background-repeat: no-repeat;			
	background-size: cover;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
		}
		
@media screen and (max-width: 1024px){
	.bg {
		left: 50%;
		margin-left: -512px; }
}




