@model List<Looking4Home.BL.Usuario>   
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; font-family: Verdana; padding-bottom:28px;">Looking 4 Home - Sitio de Administracion</h2>

<div>
    <center>
        <img style="width:60%; height:60%; " src="~/Imagenes/logo.jpg" alt="Looking4Home" />
        

    </center>
</div>
