@model List<Looking4Home.BL.Usuario>   
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; font-family: Verdana; padding-bottom:28px;">Looking 4 Home - Sitio de Administracion</h2>

<div>
    <center>
        <img style="width:60%; height:60%; " src="~/Imagenes/logo.jpg" alt="Looking4Home" />
    </center>
</div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1></h1>
                <form id="cm-search" action="index.html" method="get">
                    <input type="search" name="q" autocomplete="off" placeholder="Search...">
                </form>
            </div>
            <div class="dropdown pull-right">
                <button onclick="myFunction()" class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <div id="myDropdown" class="dropdown-content">
                    <div class="container5">
                        <div class="div-img">
                            <img class="img" src="~/assets/img/lobo.jpg" alt="Foto10" style="z-index: 1">

                            <label style="font-size: 8px; color: black"><strong></strong></label>

                        </div>
                        <nav class="barra-perfil">
                            <ul>

                                <li><a href="#">Perfil</a></li>

                                <li><a href="/Login" class="btn-exit-system"><i class="fas fa-power-off"> Cerrar Sesión</i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </header>