
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form method="post" action="/Login/Index">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"></div>
                <fieldset class="form-group">
                    <label for="username" class="bmd-label-floating"><i class="fas fa-user-secret"></i> &nbsp; Usuario</label>
                    <input type="text" name="username" class="form-control" id="username">
                </fieldset>                
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"></div>
                <fieldset class="form-group">
                    <label for="UserPassword" class="bmd-label-floating"><i class="fas fa-key"></i> &nbsp; Contraseña</label>
                    <input type="password" name="password" class="form-control" id="UserPassword">
                    <span class="bmd-help"></span>
                </fieldset>                
            </div>
        </div>
    </div>
    <p style="margin-top:80px"></p>
        <div class="form-group">
            <div class="check">
                <label class="checkbox w3l" style="">
                    <input style="" padding 40px; margin-top 32px;" type="checkbox" onclick="myFunction()">
                    <i> </i>Mostrar Contraseña
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
            </div><div class="col-xs-6">
                <button type="submit" class="btn wave btn-login text-centery">Ingresar</button>
            </div>
        </div>
        <p style="margin-top:70px"></p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

</form>