
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form action="/Login/Index">
    <div class="form-group" style="padding-top: 3rem;">
        <label for="UserName" class="bmd-label-floating"><i class="fas fa-user-secret"></i> &nbsp; Usuario</label>
        <input type="text" class="form-control" id="UserName" name="usuario" pattern="[a-zA-Z0-9]{1,35}" maxlength="35" style="font-size: 20px; font-family: Courier; ">
    </div>
    <div class="form-group" style="padding-top: 3.04rem;">
        <label for="UserPassword" class="bmd-label-floating"><i class="fas fa-key"></i> &nbsp; Contraseña</label>
        <input type="password" class="form-control" id="UserPassword" name="clave" maxlength="200" style="font-size: 20px; font-family: Courier;">
        <div class="check">
            <label class="checkbox w3l" style="">
                <input style=" padding 40px; margin-top 32px;" type="checkbox" onclick="myFunction()">
                <i> </i>Mostrar Contraseña
            </label>
        </div>
        <a href="/" class="btn-login text-center">
            INICIAR
            <div class="wave"></div>
        </a>
        <!-- script for show password -->

    </div>
</form>