
@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>

<!-- Hero Section end -->
<section class="hero-section set-bg" data-setbg="assets/img/hero/hero-2.jpg" style="padding-top: 290px; padding-bottom: 34px">
    <div class="search-form">
        <div class="container">
            <!--BUSCADOR-->
            <div class="hero-warp">
                <form class="main-search-form">
                    <div class="search-type">
                        <div class="st-item">
                            <input type="radio" name="st" id="buy" checked>
                            <label for="buy">Compra</label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="rent">
                            <label for="rent">Renta</label>
                        </div>
                        <!--<div class="st-item">
                                <input type="radio" name="st" id="sell">
                                <label for="sell">Venta</label>
                            </div>-->
                        <div class="st-item">
                            <input type="radio" name="st" id="property">
                            <label for="property">Precio</label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="agents">
                            <label for="agents">Agentes</label>
                        </div>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Busca por estado o codigo postal">
                        <button class="site-btn">Buscar</button>
                    </div>
                    <p>Busca entre miles de Opciones, todo esta al alcanse de tus manos</p>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Hero Section End  FIN IMPORTANTE -->


<hr>

<!-- Single Property Section end -->
<section class="single-property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="max-width: 850px;">

                <div class="pd-details-text">
                    <div class="pd-details-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-send"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-print"></i></a>
                        <a href="#"><i class="fa fa-cloud-download"></i></a>
                    </div>
                    <div class="property-more-pic">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="assets/img/properties/property-details-b1.jpg" alt="">
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt" data-imgbigurl="assets/img/properties/property-details-b2.jpg">
                                    <img src="assets/img/properties/thumb-1.jpg" alt="">
                                </div>
                                <div class="pt active" data-imgbigurl="assets/img/properties/property-details-b1.jpg">
                                    <img src="assets/img/properties/thumb-2.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="assets/img/properties/property-details-b3.jpg">
                                    <img src="assets/img/properties/thumb-3.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="assets/img/properties/property-details-b4.jpg">
                                    <img src="assets/img/properties/thumb-4.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="assets/img/properties/property-details-b5.jpg">
                                    <img src="assets/img/properties/thumb-5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pd-desc">
                        <h4>Descripción</h4>
                        <p>
                            Learn how to improve your playing quality and even overall understanding of online gaming
                            and how you perform while playing online. Gaming online is a huge business nowadays and
                            that means that there are millions of people worldwide at online game sites all the
                            time. Many are people just like you and me that like to play online and have fun doing
                            it. Some of these people enjoy it so much, that they often do not even care about
                            improving their skill and raising their chances of winning.
                        </p>
                    </div>
                    <div class="pd-details-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">Detalles</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">Descripción</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab">Comodidades</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="property-more-table">
                                        <table class="left-table">
                                            <tbody>
                                                <tr>
                                                    <td class="pt-name">Price</td>
                                                    <td class="p-value">$ 138,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Property Type</td>
                                                    <td class="p-value">Villa</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Year Built</td>
                                                    <td class="p-value">2016</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Bathrooms</td>
                                                    <td class="p-value">3</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Rooms</td>
                                                    <td class="p-value">12</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Parking lots</td>
                                                    <td class="p-value">3</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Lot area</td>
                                                    <td class="p-value">200 spft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="right-table">
                                            <tbody>
                                                <tr>
                                                    <td class="pt-name">Agent</td>
                                                    <td class="p-value">Adam Smith</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Reference</td>
                                                    <td class="p-value">#2019</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Contract type</td>
                                                    <td class="p-value">Sale</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Beds</td>
                                                    <td class="p-value">4</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Garages</td>
                                                    <td class="p-value">2</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Home area</td>
                                                    <td class="p-value">1200 sqft</td>
                                                </tr>
                                                <tr>
                                                    <td class="pt-name">Gara Size</td>
                                                    <td class="p-value">200 sqft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="pd-table-desc">
                                        <p>
                                            Learn how to improve your playing quality and even overall understanding
                                            of online gaming and how you perform while playing online. Gaming online
                                            is a huge business nowadays and that means that there are millions of
                                            people worldwide at online game sites all the time. Many are people just
                                            like you and me that like to play online and have fun doing it. Some of
                                            these people enjoy it so much, that they often do not even care about
                                            improving their skill and raising their chances of winning.
                                        </p>
                                        <p>
                                            Learn how to improve your playing quality and even overall understanding
                                            of online gaming and how you perform while playing online. Gaming online
                                            is a huge business nowadays and that means that there are millions of
                                            people worldwide at online game sites all the time. Many are people just
                                            like you and me that like to play online and have fun doing it. Some of
                                            these people enjoy it so much, that they often do not even care about
                                            improving their skill and raising their chances of winning.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    <div class="pd-table-amenities">
                                        <p>
                                            Learn how to improve your playing quality and even overall understanding
                                            of online gaming and how you perform while playing online. Gaming online
                                            is a huge business nowadays and that means that there are millions of
                                            people worldwide at online game sites all the time. Many are people just
                                            like you and me that like to play online and have fun doing it. Some of
                                            these people enjoy it so much, that they often do not even care about
                                            improving their skill and raising their chances of winning.
                                        </p>
                                        <p>
                                            Learn how to improve your playing quality and even overall understanding
                                            of online gaming and how you perform while playing online. Gaming online
                                            is a huge business nowadays and that means that there are millions of
                                            people worldwide at online game sites all the time. Many are people just
                                            like you and me that like to play online and have fun doing it. Some of
                                            these people enjoy it so much, that they often do not even care about
                                            improving their skill and raising their chances of winning.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--CALCULADORA-->

                <div class="loan-calculator">
                    <h4>Loan Calculator</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" placeholder="Purchase Price" id="lc-price">
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Interest Rate" id="lc-interest">
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Down Payment" id="lc-dpay">
                        </div>
                        <div class="col-md-12">
                            <div class="loan-cal-result">Weekly Payments: <span id="lc-result">$0.00</span></div>
                            <div class="text-left text-sm-right">
                                <button class="site-btn sb-big" id="lc-submit">Apply for pre-Qualification</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--SEGUNDA COLUMNA-->

            <div class="col-lg-4 col-md-8 sidebar" style="max-width: 25%; left: 5px">
                <div class="agent-widget">
                    <div class="pd-details-text">


                        <!--COMUNICARSE CON AGENTE-->
                        <div class="property-contactus">
                            <h4>Contactanos</h4>
                            <div class="row">
                                <div class="col-lg-5" style="flex: 0 0 100%; max-width: 100%; padding: 0px">
                                    <div class="agent-desc">
                                        <img src="assets/img/properties/agent-contact.jpg" alt="">
                                        <div class="agent-title">
                                            <h5>Adam Smith</h5>
                                            <span>Saler Marketing</span>
                                        </div>
                                        <div class="agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-envelope"></i></a>
                                        </div>
                                        <p>
                                            In today’s net-savvy world it has become common for any business to have a
                                            website which they use mostly for advertising their products and services.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5" style="flex: 0 0 100%; max-width: 100%; padding: 0px">
                                    <form action="#" class="agent-contact-form">
                                        <input type="text" placeholder="Nombre">
                                        <input type="text" placeholder="Correo">
                                        <textarea placeholder="Mensaje"></textarea>
                                        <button type="submit" class="site-btn">Enviar Mensaje</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="map-widget">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Section end -->


	<!--====== Javascripts & Jquery ======-->
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>

<script src="assets/js/main.js"></script>

<!-- Js Plugins -->

<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/main2.js"></script>

