@model List<Looking4Home.BL.Vendedor>
@{
    ViewBag.Title = "Acerca De";
}

<!-- Hero Section end -->
<section class="hero-section set-bg" data-setbg="assets/img/hero/hero-2.jpg" style="padding-top: 290px; padding-bottom: 34px">
    <div class="search-form">
        <div class="container">
            <!--BUSCADOR-->
            <div class="hero-warp">
                <form class="main-search-form">
                    <div class="search-type">
                        <div class="st-item">
                            <input type="radio" name="st" id="buy" checked>
                            <label for="buy">Compra</label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="rent">
                            <label for="rent">Renta</label>
                        </div>
                        <!--<div class="st-item">
                                <input type="radio" name="st" id="sell">
                                <label for="sell">Venta</label>
                            </div>-->
                        <div class="st-item">
                            <input type="radio" name="st" id="property">
                            <label for="property">Precio</label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="agents">
                            <label for="agents">Agentes</label>
                        </div>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Busca por estado o codigo postal">
                        <button class="site-btn">Buscar</button>
                    </div>
                    <p>Busca entre miles de Opciones, todo esta al alcanse de tus manos</p>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Hero Section End  FIN IMPORTANTE -->

<!-- Intro Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <img src="assets/img/about/4.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="about-text">
                    <h3>A young team that is here to help you get your dream home.</h3>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. Fusce nec eleifend ipsum. Sed non blandit tellus. </p>
                    <a href="#" class="readmore-btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section end -->

<!-- Sell Section -->
<section class="sell-section ">
    <div class="sell-warp spad set-bg" data-setbg="assets/img/sell-bg.jpg">
        <div class="container text-white">
            <div class="section-title">
                <h2>Selling your place is easy</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>01.</span></div>
                        <h3>Search</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>02.</span></div>
                        <h3>Compare</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>03.</span></div>
                        <h3>Connect</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 mt-3">
                <a href="#" class="site-btn sb-big">Contact an agent now</a>
            </div>
        </div>
    </div>
</section>
<!-- Sell Section end -->



<!-- Agents Section -->
<section class="agents-section spad">
    <div class="container">
        <div class="section-title">
            <h2>The Agents</h2>
        </div>
        <div class="row">

@foreach (var vendedor in Model.Take(3))

{
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="@(ViewBag.adminWebsiteUrl + vendedor.UrlImagen)" alt="">
                    <div class="ai-text">
                        <h4>@vendedor.Nombre</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn">Contact the agent</a>
                    </div>
                </div>
            </div>
}

        </div>
    </div>
</section>
<!-- Agents Section end -->
