<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title - Looking 4 HOME!</title>
    <!--CSS PARA CAMBIAR PANTALLA AL USAR EL MOUSE-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style3.css" />
    <!--CSS BOTON DE INICIO-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style4.css" />
    <!-- Normalize V8.0.1 -->
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <!-- Bootstrap V4.3 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Bootstrap Material Design V4.0 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-material-design.min.css">
    <!-- Font Awesome V5.9.0 -->
    <link rel="stylesheet" href="~/assets/css/all.css">
    <!-- Sweet Alerts V8.13.0 CSS file -->
    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">
    <!-- Sweet Alert V8.13.0 JS file -->
    <script src="~/assets/js/sweetalert2.min.js"></script>
    <!-- jQuery Custom Content Scroller V3.1.5 -->
    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.css">

    <!-- General Styles -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<!----------------------------------------------------------------------------------BODY-->
<body id="target" class="limpio">
    <div class="login-container">
        <div class="login-content2">
            <div class="login-content" id="myID">
                @RenderBody();
            </div>
        </div>
    </div>

    <!--=============================================
    =            Include JavaScript files           =
    ==============================================-->
    <!-- jQuery V3.4.1 -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <!-- popper -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- Bootstrap V4.3 -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Content Scroller V3.1.5 -->
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Bootstrap Material Design V4.0 -->
    <script src="~/assets/js/bootstrap-material-design.min.js"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script>
	function myFunction() {
	var x = document.getElementById("UserPassword");
	    if (x.type === "password") {
	        x.type = "text";
	    } else {
	    x.type = "password";
	   }
	 }
    </script>
</body>
</html>