<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Looking | 4 HOME</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real estate HTML Template">
    <meta name="keywords" content="real estate, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/assets/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">


    <!-- Stylesheets -->

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/style2.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">



</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section -->
    <header class="header-section">
        <a href="/Home" class="site-logo">
            <img style="width: 250px" src="~/assets/img/logo.png" alt="">
        </a>
        <nav class="header-nav">
            <ul class="main-menu">
                <li><a href="/Home" class="active">Inicio</a></li>
                <li><a href="/AcercaDe">Acerca de Nosotros</a></li>
                <!--    <li><a href="#">Comprar</a></li>-->

                <li>
                    <a href="#">Servicios</a>
                    <ul class="sub-menu">
                        <li><a href="/Vender">Venta</a></li>
                        <li><a href="/VistaServiciosCompra">Compra</a></li>
                        <li><a href="/VistaServiciosRenta">Renta</a></li>
                    </ul>
                </li>
                <!--<li><a href="news.html">Nuevo</a></li>-->
                <li><a href="/Contactanos">Contactenos</a></li>
            </ul>
            <div class="header-right">
                <div class="user-panel">
                    <a href="login.html" class="login">Iniciar Sesíon</a>
                    <a href="login.html" class="register">Perfil</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Section end -->



    @RenderBody()


    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="/assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="~/assets/img/logo2.png" alt="" style="width: 60%"></a>
                            </div>
                            <p>Suscribanse y Comencemos</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Ingresa tu correo...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Ciudades</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="fa fa-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contactenos a</h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                                <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                                <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p><p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p></p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->



    <!--====== Javascripts & Jquery ======-->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/main.js"></script>


    <!-- Js Plugins -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>

    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/main2.js"></script>

    <script src="~/assets/js/jquery-ui.min.js"></script>
</body>
</html>
