.limpio {
	background-image: url('../img/login/listo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  transition: all .50s ease-in-out;
}

.borroso {
	background-image: url('../img/login/borroso.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  transition: all .50s ease-in-out;
}

.form-control imput{
    -webkit-appearance: menulist-button;
    background-color: black !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
}
